body {
  background-color: #f6f8fb;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.navbar {
  background-color: #fff;
  padding: 15px 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.03);
}
.navbar-search {
  flex-grow: 1;
  max-width: 300px;
}
.navbar-search input {
  background-color: #f6f8fb;
  border: none;
  border-radius: 20px;
  padding: 8px 15px;
  width: 100%;
}
.navbar-search input:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.navbar-right {
  display: flex;
  align-items: center;
  gap: 15px;
}
.navbar-right i {
  color: #555;
  font-size: 1.2rem;
}
.navbar-right img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.sidebar {
  background: #fff;
  padding: 30px;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.03);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.sidebar a {
  display: block;
  padding: 10px;
  margin: 10px;
  color: #555;
  text-decoration: none;
  font-weight: 500;
  border-radius: 8px;
}
.sidebar a:hover,
.sidebar a.active {
  background: #4b7bec;
  color: white;
}
.card-box {
  background: #fff;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.05);
}
.progress {
  height: 6px;
  border-radius: 10px;
}
.text-muted {
  font-size: 0.75rem;
  color: #9ca3af;
}
.transaction-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}
.transaction-left {
  display: flex;
  align-items: center;
}
.transaction-icon {
  width: 40px;
  height: 40px;
  background-color: #f6f8fb;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 15px;
}
.transaction-icon i {
  color: #555;
  font-size: 1.2rem;
}
.transaction-title {
  font-weight: 600;
}
.transaction-date {
  font-size: 0.875rem;
  color: #888;
}
.transaction-amount {
  font-weight: 600;
}
.transaction-status {
  font-size: 0.875rem;
  color: green;
}
.card-box-purple {
  background-color: #4745a4;
  border-radius: 20px;
  padding: 25px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card-box-purple .text-muted {
  color: #cdd1f9 !important;
}
.see-all {
  color: #555;
  text-decoration: none;
  cursor: pointer;
}
.see-all:hover {
  color: #4b7bec;
}
